---
import PowerKids from "@/components/brand/PowerKids.astro";
import Section from "@/components/layout/section.astro";
import {
  Card,
  CardFooter,
  CardHeader,
  CardTitle,
  cardStyle,
} from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Cloudinary } from "astro-cloudinary-image";

const years = new Date().getFullYear() - 2001;
---

<Section
  class="grid sm:grid-cols-[1fr,min-content,30%] lg:grid-cols-10 fl-gap-l lg:fl-gap-x-xl fl-text-step-1 lg:grid-rows-[min-content_min-content_1fr_min-content]"
  contentWidth="xl"
>
  <h1 class="font-marker fl-text-step-4 lg:col-span-6">Who We Are</h1>

  <Cloudinary
    src="v1690554655/powerkids/about/apple-girl.jpg"
    alt="A PowerKids student offering an apple"
    errorImage=""
    class:list={cn(
      cardStyle(),
      "my-auto sm:row-start-3 lg:row-start-4 lg:col-start-6 lg:col-span-full",
    )}
  />

  <div
    class="sm:col-span-full fl-space-y-l text-justify max-w-prose lg:col-span-6 lg:row-span-2 fl-pb-l"
  >
    <p>
      <PowerKids class="fl-text-step-2 leading-none" /> was founded <b
        >{years} years ago</b
      > in 2001, based on the Fungates curriculum. We empower your little
      child’s early education by injecting play and care to stimulate your
      little one’s learning.
    </p>
    <p>
      Guided by educational policies from Ministry of Education Malaysia and
      Jabatan Kebajikan Malaysia, we constantly keep up with best practices to
      ensure our students become competent learners to navigate the 21st-Century
      world.
    </p>
    <p>
      <PowerKids />... Opening the Gates to First-Class Fun Learning!
    </p>
  </div>

  <Card className="sm:col-span-2 grid sm:place-content-center lg:col-span-4">
    <CardHeader>
      <CardTitle className="font-marker">Our Mission</CardTitle>
    </CardHeader>
    <CardFooter>
      <p class="whitespace-nowrap">
        To raise a new generation of <br /> 21st-Century children with <span
          class="underline underline-offset-4">heart</span
        >.
      </p>
    </CardFooter>
  </Card>

  <Card className="sm:col-span-2 lg:col-span-5 grid lg:place-content-center">
    <CardHeader>
      <CardTitle className="font-marker">Our Vision</CardTitle>
    </CardHeader>
    <CardFooter>
      <ul class="list-disc fl-ml-m">
        <li>
          <span class="fl-text-step-2 font-marker tracking-wider">A</span
          >cademic Excellence
        </li>
        <li>
          <span class="fl-text-step-2 font-marker tracking-wider">B</span
          >uilding Character
        </li>
        <li class="whitespace-nowrap">
          <span class="fl-text-step-2 font-marker tracking-wider">C</span
          >ultivating Moral & Spiritual Values
        </li>
      </ul>
    </CardFooter>
  </Card>

  <div
    class="grid place-items-center max-sm:hidden lg:col-span-4 lg:row-start-1 lg:col-start-7 lg:row-span-2 fl-py-m"
  >
    <img
      src="/images/logo.svg"
      alt=""
      class="max-h-40 rotate-12"
      loading="lazy"
      decoding="async"
    />
  </div>
</Section>
