---
import Section from "@/components/layout/section.astro";
---

<Section>
  <div class="max-w-prose fl-text-step-1 [text-wrap:balance] fl-space-y-m">
    <h2 class="fl-text-step-4 font-marker">Our Team</h2>
    <p>
      At PowerKids, we have trained, qualified teachers who are passionate and
      dynamic. Their joy comes from seeing our little learners light up as they
      make new friends or learn new letters, words or concepts.
    </p>
    <p>
      Every class teacher is qualified in Early Childhood Education and further
      up-graded with latest FunGates teaching practices on yearly basis. Our
      teaching team is up-to-date on trainings by KSPK Ministry of Education of
      Malaysia for guru-guru pra-sekolah.
    </p>
    <p>
      “Children First” is our basis to all our decisions in managing children
      entrusted to our care.
    </p>
  </div>
</Section>
