---
import PowerKids from "./PowerKids.astro";
---

<p class="font-marker leading-snug fl-text-step-1">
  <PowerKids class="leading-none" />{" "}
  <em>is</em> the Kindergarten <span class="text-accent-blue">Centre</span> with
  a <span class="text-accent-red">Heart</span>
</p>
<p class="leading-relaxed">
  We believe that we have that <em>difference</em>, that <em class="underline"
    >secret ingredient</em
  >, that will propel the next generation to <em>stand up</em> and <em
    >stand out</em
  > from the crowd.
</p>
