---
import PowerKids from "./PowerKids.astro";
---

<p class="fl-text-step-1">
  <PowerKids class="leading-none" /> is <b
    >the kindergarten centre with a <u>heart</u>.</b
  >
</p>
<p class="leading-relaxed">
  We believe that we have that <em>difference</em>, that <em
    >secret ingredient</em
  >, that will propel the next generation to stand up and out from the crowd.
</p>
