---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"span"> {}

const { class: classes, ...attrs } = Astro.props;
---

<span class={cn(classes, "font-marker")} {...attrs}>
  <span class="text-accent-red">Power</span><span class="text-accent-blue"
    >Kids</span
  >
</span>
