---
import Section from "@/components/layout/Section.astro";
import { cardStyle, cardTabHeaderStyle } from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Cloudinary } from "astro-cloudinary-image";
import { TEAM } from "./_teams";
import PowerKids from "@/components/brand/PowerKids.astro";
---

<Section class="overflow-hidden fl-space-y-xl" id="our-team">
  <div class="max-w-prose [text-wrap:balance] fl-space-y-m">
    <h2 class="fl-text-step-4 font-marker whitespace-nowrap">
      Our Team
      <span class="text-primary/40">Team</span>
      <span class="text-primary/20">Team</span>
      <span class="text-primary/10">Team</span>
      <span class="text-primary/5">Team</span>
    </h2>
    <p>
      At <PowerKids />, we have trained, qualified teachers who are passionate
      and dynamic. Their joy comes from seeing our little learners light up as
      they make new friends or learn new letters, words or concepts.
    </p>
    <p>
      Every class teacher is certified in <b>Early Childhood Education</b>, and
      then further annually up-graded with the latest <b
        >FunGates teaching practices</b
      >. Our teaching team is up-to-date on trainings by <i>
        KSPK Ministry of Education of Malaysia
      </i> for <i>guru-guru pra-sekolah</i>.
    </p>
  </div>
  <div class="grid md:grid-cols-2 grid-rows-[1fr] fl-gap-l grid-flow-dense">
    <div
      class="md:col-start-2 max-lg:max-w-screen-sm grid place-items-center md:fl-px-s [text-wrap:balance]"
    >
      <p class="fl-text-step-1 md:text-center italic fl-my-m">
        <u>“Children First”</u> is our basis to all our decisions in managing
        children entrusted to our care.
      </p>
    </div>
    {
      Object.entries(TEAM).map(([name, image]) => (
        <div
          class={cn(
            "row-span-2 max-lg:max-w-screen-sm",
            // i === 0 && "md:row-start-1",
            // i % 2 === 1 && "ml-auto",
            // i === 1 && "mt-auto",
          )}
        >
          <h3 class={cn(cardTabHeaderStyle(), "fl-text-step-2 font-marker")}>
            {name}
          </h3>
          <Cloudinary
            src={image}
            alt=""
            errorImage=""
            class:list={cn(cardStyle(), "rounded-tl-none")}
          />
        </div>
      ))
    }
  </div>
</Section>
