---
import PowerKids from "@/components/brand/PowerKids.astro";
import Section from "@/components/layout/Section.astro";
import { cardStyle, cardTabHeaderStyle } from "@/components/ui/card";
import pkCloudinary from "@/lib/cloudinary";
import { cn } from "@/lib/utils";
import type { ResourceApiResponse } from "cloudinary";

const { resources } = (await pkCloudinary.api.resources({
  type: "upload",
  prefix: "powerkids/about/team",
})) as ResourceApiResponse;
const sortedResources = resources.sort((a, b) =>
  a.public_id.localeCompare(b.public_id),
);
---

<Section class="overflow-hidden fl-space-y-xl" id="our-team">
  <div class="max-w-prose fl-space-y-m [text-wrap:balance]">
    <h2 class="flex gap-x-4 whitespace-nowrap font-marker fl-text-step-4">
      Our Team
      <span class="text-primary/40">Team</span>
      <span class="text-primary/20">Team</span>
      <span class="text-primary/10">Team</span>
      <span class="text-primary/5">Team</span>
    </h2>
    <p>
      At <PowerKids />, we have trained, qualified teachers who are passionate
      and dynamic. Their joy comes from seeing our little learners light up as
      they make new friends or learn new letters, words or concepts.
    </p>
    <p>
      Every class teacher is certified in <b>Early Childhood Education</b>, and
      then further annually up-graded with the latest <b
        >FunGates teaching practices</b
      >. Our teaching team is up-to-date on trainings by <i>
        KSPK Ministry of Education of Malaysia
      </i> for <i>guru-guru pra-sekolah</i>.
    </p>
  </div>
  <div class="grid grid-flow-dense grid-rows-[1fr] fl-gap-l md:grid-cols-2">
    <div
      class="grid place-items-center [text-wrap:balance] max-lg:max-w-screen-sm md:col-start-2 md:fl-px-s"
    >
      <p class="italic fl-text-step-1 fl-my-m md:text-center">
        <u>“Children First”</u> is our basis to all our decisions in managing
        children entrusted to our care.
      </p>
    </div>
    {
      sortedResources.map(({ public_id: title, ...image }) => (
        <div
          class={cn(
            "row-span-2 max-lg:max-w-screen-sm",
            // i === 0 && "md:row-start-1",
            // i % 2 === 1 && "ml-auto",
            // i === 1 && "mt-auto",
          )}
        >
          <h3 class={cn(cardTabHeaderStyle(), "font-marker fl-text-step-2")}>
            {title.substring(title.indexOf(" ") + 1)}
          </h3>
          <img
            src={image.url}
            alt={image.alt}
            height={image.height}
            width={image.width}
            class:list={cn(cardStyle(), "rounded-tl-none")}
            loading="lazy"
            decoding="async"
          />
        </div>
      ))
    }
  </div>
</Section>
