---
import Document from "@/components/layout/document.astro";
import Section from "@/components/layout/section.astro";
import { cardStyle } from "@/components/ui/card";
import { cn } from "@/lib/utils";
import cloudinary from "cloudinary";

interface CldImage {
  url: string;
  height: number;
  width: number;
}

const morningPhotos = await cloudinary.v2.api.resources({
  type: "upload",
  prefix: "powerkids/programs/morning",
});
// const morningPhotos = { resources: [] };
---

<Document>
  <Section class="fl-space-y-l">
    <div class="[&>p]:fl-text-step-1 max-w-screen-md fl-space-y-l">
      <h1 class="fl-text-step-4 font-marker">Morning School</h1>
      <p>
        Essential early childhood education (ECE) provided for children from
        Ages 2 to 6!
      </p>
      <p>
        There will be emphasis on building social emotion to cognitive study
        from very young age. PowerKids has a track record of strong academics
        and good character transformation.
      </p>
    </div>
    <div class="fl-space-y-l columns-sm fl-gap-s">
      {
        morningPhotos.resources.map((image: CldImage) => (
          <img
            src={image.url}
            alt="A PowerKids student offering an apple"
            class={cn(cardStyle(), "fl-mb-s col-span-2")}
            height={image.height}
            width={image.width}
          />
        ))
      }
    </div>
  </Section>
</Document>
