---
import Pill from "@/components/brand/pill";
import Document from "@/components/layout/document.astro";
import { PROGRAMS } from "@/components/layout/nav/nav-links";
import Section from "@/components/layout/section.astro";
import { buttonVariants } from "@/components/ui/button";
import { cardStyle } from "@/components/ui/card";
import pkCloudinary, { CldImage } from "@/lib/cloudinary";
import { cn } from "@/lib/utils";

const morningPhotos = await pkCloudinary.api.resources({
  type: "upload",
  prefix: "powerkids/programs/morning",
});

const program = PROGRAMS.find((p) => p.title === "Morning School");
---

<Document>
  <Section contentWidth="lg">
    <div class="fl-space-y-l">
      <div class="flex fl-gap-x-m flex-wrap">
        <h1 class="fl-text-step-4 font-marker">Morning School</h1>
        <Pill size="lg" className="my-auto">
          {program?.pill}
        </Pill>
      </div>
      <div class="[&_*]:fl-text-step-1 fl-space-y-l max-w-screen-md">
        <p>
          Essential early childhood education (ECE) provided for children from
          Ages 2 to 6!
        </p>
        <p>
          There will be emphasis on building social emotion to cognitive study
          from very young age. PowerKids has a track record of strong academics
          and good character transformation.
        </p>
        <div class="flex fl-gap-m flex-wrap">
          <a href="/" class={buttonVariants({ variant: "red" })}>register</a>
          <a href="/" class={buttonVariants({ variant: "blue" })}> contact</a>
        </div>
      </div>
    </div>
  </Section>
  <Section class="fl-space-y-l columns-sm fl-gap-s" contentWidth="xl">
    {
      morningPhotos.resources.map((image: CldImage) => (
        <img
          src={image.url}
          alt=""
          class={cn(cardStyle(), "fl-mb-s col-span-2")}
          height={image.height}
          width={image.width}
          loading="lazy"
          decoding="async"
        />
      ))
    }
  </Section>
</Document>
