---
import "@/styles/global.css";

import Header from "./Header.astro";
import Footer from "./footer/Footer.astro";

interface Props {
  title?: string;
  excludeRegister?: boolean;
}

const DEFAULT_TITLE = "PowerKids Kindergarten: The Centre With A Heart";

let { title = DEFAULT_TITLE } = Astro.props;
const { excludeRegister } = Astro.props;

if (title !== DEFAULT_TITLE) {
  title = title + " | " + DEFAULT_TITLE;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="First-Class 21st-Century Kindergarten Education, based across five locations around Kuala Lumpur. Powered by the Fungates curriculum since 2001."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/Safari-pinned-tab.svg"
      color="#e20000"
    />
    <link
      rel="preload"
      as="font"
      href="/fonts/marker-felt.ttf"
      type="truetype"
      crossorigin="anonymous"
    />
    <meta name="apple-mobile-web-app-title" content="PowerKids" />
    <meta name="application-name" content="PowerKids" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="facebook-domain-verification"
      content="1qaxaozo7jobfdqnnhx33k33irth95"
    />

    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <Header />
    <main class="[&>section:first-of-type]:fl-pt-l">
      <slot />
    </main>
    <Footer excludeRegister={excludeRegister} />
  </body>
</html>
