---
import "@/Styles/global.css";

import Footer from "./footer/Footer.astro";
import Header from "./Header.astro";

interface Props {
  title?: string;
}

const { title = "PowerKids Kindergarten" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/Svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/Safari-pinned-tab.svg"
      color="#e20000"
    />
    <meta name="apple-mobile-web-app-title" content="PowerKids" />
    <meta name="application-name" content="PowerKids" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="[&>section:first-of-type]:fl-pt-l">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
