---
import { cn } from "@/lib/utils";
import { Button, buttonVariants } from "../ui/button";
import PowerKidsNavDrawer from "./nav/nav-drawer";
import PowerKidsNavMenu from "./nav/nav-bar";
---

<header class="border-b-[0.15em] sticky top-0 bg-background z-10">
  <nav class="fl-py-3xs fl-px-xs gap-x-4 flex items-center">
    <a
      href="/"
      class:list={cn(
        buttonVariants({ variant: "ghost", size: "unset" }),
        "fl-h-2xl fl-px-2xs fl-gap-xs -fl-left-2xs",
      )}
    >
      <img src="/images/logo.svg" alt="PowerKids Logo" class="h-full" />
      <h1 class="fl-text-step-3 font-marker fl-mt-s">
        <span class="text-accent-red">Power</span><span class="text-accent-blue"
          >Kids</span
        >
      </h1>
    </a>

    <PowerKidsNavMenu client:visible />
    <PowerKidsNavDrawer client:visible />
    <Button variant="red" className="ml-auto max-md:hidden">register</Button>
    <Button variant="blue" className="max-md:hidden">contact</Button>
  </nav>
</header>
