---
import { cn } from "@/lib/utils";
---

<header class="border-b-2">
  <div class="fl-py-3xs fl-px-xs mx-auto flex items-center">
    <a
      href="/"
      class={cn(
        // buttonVariants({ variant: "ghost" }),
        "p-0 fl-h-2xl flex items-center fl-gap-xs",
      )}
    >
      <img src="/logo.svg" alt="PowerKids Logo" class="h-full" />
      <h1 class="fl-text-step-2 font-black">
        <span class="text-pk-red">Power</span><span class="text-pk-blue"
          >Kids</span
        >
      </h1>
    </a>
  </div>
</header>
