---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"section"> {
  contentWidth?: "lg" | "xl" | "2xl"; // default: max-w-xl
  // paddingX?: "always" | "none" | "mobile"; // default: (gutters only on) mobile
  noPaddingY?: boolean; // default: paddingY true
  // variant?: "base" | "dark" | "secondary"; // default: base
}
const {
  contentWidth = "xl",
  // paddingX = "mobile",
  noPaddingY,
  // variant = "base",
  class: extraClass,
  ...attrs
} = Astro.props;
---

<section
  class={cn(
    "fl-px-m",
    contentWidth === "2xl" && "max-w-screen-[1400px] mx-auto",
    contentWidth === "lg" && "max-w-screen-lg mx-auto",
    contentWidth === "xl" && "max-w-screen-xl mx-auto",
    !noPaddingY && "fl-py-2xl first-of-type:fl-pt-l",
    extraClass,
  )}
  {...attrs}
>
  <slot />
</section>
