---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"section"> {
  // contentWidth?: "full" | "prose" | "xl"; // default: max-w-xl
  // paddingX?: "always" | "none" | "mobile"; // default: (gutters only on) mobile
  // noPaddingY?: boolean; // default: paddingY true
  // variant?: "base" | "dark" | "secondary"; // default: base
}
const {
  // contentWidth = "xl",
  // paddingX = "mobile",
  // noPaddingY,
  // variant = "base",
  class: extraClass,
  ...attrs
} = Astro.props;
---

<section class={cn("max-w-screen-lg mx-auto fl-px-xs", extraClass)} {...attrs}>
  <slot />
</section>
