---
import IdentityStatement from "@/components/brand/IdentityStatement.astro";
import Pill from "@/components/brand/pill";
import Section from "@/components/layout/Section.astro";
import { buttonVariants } from "@/components/ui/button";
import { cardStyle } from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { YouTube } from "astro-lazy-youtube-embed";

const years = new Date().getFullYear() - 2001;
---

<Section
  class="grid xl:grid-cols-2 fl-gap-l max-xl:place-items-center"
  contentWidth="xl"
>
  <YouTube
    videoId="pWK_QZkIbQ0"
    title="Register Now with PowerKids!"
    class={cn(cardStyle(), "max-w-prose")}
  />
  <div class="fl-space-y-m max-w-prose order-1 [text-wrap:balance]">
    <div class="fl-space-y-s">
      <Pill>Who We Are</Pill>
      <h2 class="font-marker fl-text-step-4 leading-snug">
        <u>{years} years</u> & counting!
      </h2>
    </div>
    <IdentityStatement />
    <a class={cn(buttonVariants())} href="/about">read about us</a>
  </div>
</Section>
