---
import Pill from "@/components/brand/pill";
import Section from "@/components/layout/Section.astro";
import { EVENTS } from "@/components/layout/nav/nav-links";
import { buttonVariants } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
  cardStyle,
} from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Cloudinary } from "astro-cloudinary-image";

const gridItemClasses = ["", "xl:col-start-1", "", ""];
---

<Section contentWidth="xl">
  <div class="fl-gap-m grid md:grid-cols-2 xl:grid-cols-3">
    <Pill color="blue" className="xl:col-span-full mr-auto">Our Events</Pill>
    <div
      class="flex flex-col items-start fl-space-y-s max-xl:col-span-full lg:fl-pr-l [text-wrap:balance] max-xl:fl-mb-s"
    >
      <h2 class="font-marker fl-text-step-4 xl:col-start-2 leading-tight">
        In <u>and</u>
        <mark class="blue">outside</mark> of classrooms
      </h2>
      <p
        class="flex fl-gap-x-2xs font-bold fl-text-step-1 tracking-widest flex-wrap"
      >
        <em>Experiences</em> maketh thy child.
      </p>
    </div>
    {
      EVENTS.map((p, i) => (
        <Card
          className={cn(
            gridItemClasses[i],
            "lg:row-span-2 max-w-[50ch]",
            i % 2 === 0 && "sm:max-md:fl-ml-m sm:max-md:mr-auto",
            i % 2 === 1 && "sm:max-md:ml-auto sm:max-md:fl-mr-m",
          )}
        >
          <CardHeader>
            <CardTitle className="font-marker fl-text-step-3">
              {p.title}
            </CardTitle>
          </CardHeader>
          <CardContent className="fl-space-y-s">
            <p class="fl-text-step-0">{p.children}</p>
            <Cloudinary
              src={p.image}
              alt=""
              errorImage=""
              class:list={cn(cardStyle(), "mx-auto sm:mx-0 xl:mx-auto")}
            />
          </CardContent>
          <CardFooter className="justify-end">
            <a class={cn(buttonVariants({ size: "default" }))} href={p.href}>
              more!
            </a>
          </CardFooter>
        </Card>
      ))
    }
  </div>
</Section>
