---
import { Image } from "astro:assets";
import heroImg from "@/assets/hero-2.png";
import Section from "@/components/layout/Section.astro";
import { buttonVariants } from "@/components/ui/button";
---

<Section
  class="flex justify-evenly fl-gap-y-s max-md:flex-col md:max-h-[700px] md:fl-pt-m"
  paddingY="unset"
>
  <div
    class="max-w-prose fl-space-y-m max-md:mx-auto max-md:text-center max-md:fl-py-s md:my-auto md:fl-pb-l"
  >
    <h1 class="font-marker leading-[1.075em] fl-text-step-5">
      the <mark class="blue">Centre</mark><br />
      <span class="tracking-tighter">with</span> a <mark class="red">Heart</mark
      >
    </h1>
    <p class="mx-auto max-w-[50ch] fl-text-step-0 [text-wrap:balance]">
      First-Class 21st-Century <u class="whitespace-nowrap"
        >Kindergarten Education</u
      >, based across <em>five</em> locations around Kuala Lumpur. Powered by
      the
      <em>FunGates</em> curriculum since 2001.
    </p>
    <div class="flex flex-wrap fl-gap-m max-md:justify-center">
      <a href="#register" class={buttonVariants({ variant: "red", size: "lg" })}
        >register</a
      >
      <a
        href="#contact"
        class={buttonVariants({ size: "lg", variant: "blue" })}
      >
        contact
      </a>
    </div>
  </div>
  <Image
    src={heroImg}
    densities={[1.5, 2]}
    alt="Two PowerKids students on a toy telephone, with a speech bubble reading: Register now for 2024!"
    loading="eager"
    class="max-w-[80%] object-contain max-md:mx-auto md:fl-pl-l"
  />
</Section>
