---
import Pill from "@/components/brand/pill";
import Section from "@/components/layout/Section.astro";
import { cardStyle } from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Cloudinary } from "astro-cloudinary-image";
---

<Section
  class="grid md:grid-cols-2 fl-text-step-1 fl-gap-x-xl fl-gap-y-xl md:place-items-center"
>
  <div class="fl-space-y-l max-w-prose">
    <Pill color="red">Our Programs</Pill>
  </div>
  <Cloudinary
    src="v1690554655/powerkids/about/apple-girl.jpg"
    alt="A PowerKids student offering an apple"
    errorImage=""
    class:list={cn(cardStyle(), "h-full object-cover max-md:max-h-80")}
  />
</Section>
