---
import Document from "@/components/layout/document.astro";
import Section from "@/components/layout/section.astro";

const years = new Date().getFullYear() - 2001;
---

<Document>
  <Section class="grid md:grid-cols-[min-content_1fr] fl-gap-x-3xl fl-py-l">
    <h1 class="fl-text-step-5 font-marker">About</h1>
    <div class="fl-text-step-1 [&>*+p]:fl-mt-m md:fl-mt-m">
      <p>
        <span class="font-marker fl-text-step-2"
          ><span class="text-accent-red">Power</span><span
            class="text-accent-blue">Kids</span
          >
        </span> was founded <b>{years} years ago</b> in 2001, based on the
        Fungates curriculum. We empower your little child’s early education by
        injecting play and care to stimulate your little one’s learning.
      </p>
      <p>
        Guided by educational policies from Ministry of Education Malaysia and
        Jabatan Kebajikan Malaysia, we constantly keep up with best practices to
        ensure our students become competent learners to navigate the
        21st-Century world.
      </p>
      <p>
        <span class="font-marker"
          ><span class="text-accent-red">Power</span><span
            class="text-accent-blue">Kids</span
          ></span
        >... Opening the Gates to First-Class Fun Learning!
      </p>
    </div>
  </Section>
</Document>
