---
import Document from "@/components/layout/Document.astro";
import Section from "@/components/layout/Section.astro";
import { buttonVariants } from "@/components/ui/button";
---

<Document>
  <Section class="flex max-md:flex-col md:max-h-[600px] fl-gap-y-s md:fl-pt-m">
    <div class="max-md:fl-py-l md:my-auto fl-space-y-m max-md:text-center">
      <h1 class="fl-text-step-5 leading-none font-extrabold tracking-tight">
        the <mark class="blue">Centre</mark><br /> with a <mark class="red"
          >Heart</mark
        >
      </h1>
      <p class="fl-text-step-1 [text-wrap:balance]">
        PowerKids provides first-class 21st-Century <u>Kindergarten Education</u
        >, powered by the FunGates curriculum since 2001
      </p>
      <div class="fl-space-x-s fl-space-y-s">
        <a href="/" class={buttonVariants({ variant: "red", size: "xl" })}
          >register</a
        >
        <a href="/" class={buttonVariants({ size: "xl", variant: "blue" })}>
          contact
        </a>
      </div>
    </div>
    <img
      src="hero.jpg"
      alt="hero"
      class="mx-auto md:fl-pl-l max-w-[50%] object-contain"
    />
  </Section>
  <Section class="h-[600px]">Hello</Section>
</Document>

<style>
  .red {
    --highlight: var(--red);
  }
  .blue {
    --highlight: var(--blue);
  }
  mark {
    -webkit-animation: 1.5s highlight 0.2s 1 normal forwards;
    animation: 1.5s highlight 0.2s 1 normal forwards;
    background-color: none;
    background: linear-gradient(
      90deg,
      var(--highlight) 50%,
      rgba(255, 255, 255, 0) 50%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white;
    padding-inline: 10px;
  }

  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }

  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
</style>
