---
import IdentityStatement from "@/components/brand/IdentityStatement.astro";
import Pill from "@/components/brand/pill";
import Document from "@/components/layout/Document.astro";
import Section from "@/components/layout/Section.astro";
import { buttonVariants } from "@/components/ui/button";
import { cardStyle } from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Cloudinary } from "astro-cloudinary-image";
---

<Document>
  <Section
    class="flex max-md:flex-col md:max-h-[700px] fl-gap-y-s md:fl-pt-m justify-evenly"
    noPaddingY
  >
    <div
      class="max-md:fl-py-l md:my-auto fl-space-y-l max-md:text-center max-w-prose max-md:mx-auto"
    >
      <h1 class="fl-text-step-5 font-marker leading-[1.075em]">
        the <mark class="blue">Centre</mark><br />
        <span class="tracking-tighter">with</span> a <mark class="red"
          >Heart</mark
        >
      </h1>
      <p class="fl-text-step-1 [text-wrap:balance] max-lg:max-w-[50ch] mx-auto">
        First-Class 21st-Century <u class="whitespace-nowrap"
          >Kindergarten Education</u
        >, based across five locations around Kuala Lumpur. Powered by the
        FunGates curriculum since 2001.
      </p>
      <div class="flex fl-gap-m max-md:justify-center flex-wrap">
        <a
          href="#register"
          class={buttonVariants({ variant: "red", size: "lg" })}>register</a
        >
        <a
          href="#contact"
          class={buttonVariants({ size: "lg", variant: "blue" })}
        >
          contact
        </a>
      </div>
    </div>
    <img
      src="images/hero.jpg"
      alt="hero"
      class="max-md:mx-auto md:fl-pl-l max-w-[49%] object-contain"
    />
  </Section>
  <!-- social proof -->
  <hr class="max-md:hidden" />
  <Section
    class="grid md:grid-cols-2 fl-text-step-1 fl-gap-x-xl fl-gap-y-xl md:place-items-center"
  >
    <div class="fl-space-y-l max-w-prose">
      <Pill color="red">Who We Are</Pill>
      <p>
        <IdentityStatement />
      </p>
      <p>
        Our Mission is to raise a new generation of 21st-Century children with <span
          class="underline underline-offset-4">heart</span
        >.
      </p>
      <a class={cn(buttonVariants(), "")} href="/about">read about us</a>
    </div>
    <Cloudinary
      src="v1690554655/powerkids/about/apple-girl.jpg"
      alt="A PowerKids student offering an apple"
      errorImage=""
      class:list={cn(
        cardStyle(),
        "h-full object-cover md:-order-1 max-md:max-h-80",
      )}
    />
  </Section>
</Document>

<style>
  .red {
    --highlight: var(--accent-red);
  }
  .blue {
    --highlight: var(--accent-blue);
  }
  mark {
    -webkit-animation: 1.5s highlight 0.2s 1 normal forwards;
    animation: 1.5s highlight 0.2s 1 normal forwards;
    background-color: none;
    background: linear-gradient(
      90deg,
      hsl(var(--highlight)) 50%,
      rgba(255, 255, 255, 0) 50%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    color: white;
    @apply ml-1 fl-px-2xs;
  }

  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }

  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
</style>
