---
import Document from "@/components/layout/Document.astro";
import Section from "@/components/layout/Section.astro";
import { Button } from "@/components/ui/button";
---

<Document>
  <Section>
    <div class="fl-space-x-s fl-space-y-s">
      <Button size="sm">contact</Button>
      <Button>contact</Button>
      <Button size="lg">contact</Button>
      <Button size="xl">contact</Button>
    </div>
  </Section>
  <Section>
    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="secondary" size="sm">contact</Button>
      <Button variant="secondary">contact</Button>
      <Button variant="secondary" size="lg">contact</Button>
      <Button variant="secondary" size="xl">contact</Button>
    </div>
  </Section>
  <Section>
    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="outline" size="sm">contact</Button>
      <Button variant="outline">contact</Button>
      <Button variant="outline" size="lg">contact</Button>
      <Button variant="outline" size="xl">contact</Button>
    </div>
  </Section>
  <Section>
    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="ghost" size="sm">contact</Button>
      <Button variant="ghost">contact</Button>
      <Button variant="ghost" size="lg">contact</Button>
      <Button variant="ghost" size="xl">contact</Button>
    </div>
  </Section>
  <Section>
    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="link" size="sm">contact</Button>
      <Button variant="link">contact</Button>
      <Button variant="link" size="lg">contact</Button>
      <Button variant="link" size="xl">contact</Button>
    </div>
  </Section>
</Document>
