---
import Document from "@/components/layout/Document.astro";
import Section from "@/components/layout/Section.astro";
import { Button } from "@/components/ui/button";
---

<Document>
  <Section>
    <h1 class="fl-text-step-4 font-bold">Buttons</h1>
    <div class="fl-space-x-s fl-space-y-s">
      <Button size="sm">primary</Button>
      <Button>primary</Button>
      <Button size="lg">primary</Button>
      <Button size="xl">primary</Button>
    </div>

    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="red" size="sm">red</Button>
      <Button variant="red">red</Button>
      <Button variant="red" size="lg">red</Button>
      <Button variant="red" size="xl">red</Button>
    </div>

    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="blue" size="sm">blue</Button>
      <Button variant="blue">blue</Button>
      <Button variant="blue" size="lg">blue</Button>
      <Button variant="blue" size="xl">blue</Button>
    </div>

    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="secondary" size="sm">secondary</Button>
      <Button variant="secondary">secondary</Button>
      <Button variant="secondary" size="lg">secondary</Button>
      <Button variant="secondary" size="xl">secondary</Button>
    </div>

    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="outline" size="sm">outline</Button>
      <Button variant="outline">outline</Button>
      <Button variant="outline" size="lg">outline</Button>
      <Button variant="outline" size="xl">outline</Button>
    </div>

    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="ghost" size="sm">ghost</Button>
      <Button variant="ghost">ghost</Button>
      <Button variant="ghost" size="lg">ghost</Button>
      <Button variant="ghost" size="xl">ghost</Button>
    </div>

    <div class="fl-space-x-s fl-space-y-s">
      <Button variant="link" size="sm">link</Button>
      <Button variant="link">link</Button>
      <Button variant="link" size="lg">link</Button>
      <Button variant="link" size="xl">link</Button>
    </div>
  </Section>
</Document>
