---
import Section from "@/components/layout/Section.astro";
import { Image } from "astro:assets";
import { UserCircle } from "lucide-react";
import wanHong from "@/assets/principals/wan-hong.png";
import peckGuan from "@/assets/principals/peck-guan.jpg";
import mary from "@/assets/principals/mary.jpeg";
---

<Section id="our-schools" contentWidth="lg">
  <div class="fl-space-y-2xl [text-wrap:balance]">
    <h2 class="text-center font-marker fl-text-step-4">
      <UserCircle className="inline-icon fl-mb-xs" />
       Our Principals
    </h2>
    <div class="flex flex-col justify-center gap-8 md:flex-row">
      <Image
        src={peckGuan}
        alt="Profile picture of Peck Guan"
        class="pk-border"
      />
      <div class="flex max-w-[60ch] flex-col gap-4">
        <h3 class="font-marker fl-text-step-3">Uncle Peck Guan</h3>
        <p class="fl-text-step-1">Founder</p>
        <div class="flex flex-col gap-2 fl-text-step-0">
          <p>If a child can’t read, we TEACH him to read.</p>
          <p>
            If a child can’t do Math problems, we TEACH him how to do Math
            problems.
          </p>
          <p>If a child doesn’t know how to behave, we PUNISH him…</p>
          <p>
            ...but NOT in PowerKids: “The Centre with a Heart” ~ because Love Never Fails – we make a Difference.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center gap-8 md:flex-row">
      <Image
        src={wanHong}
        alt="Profile picture of Wan Hong"
        class="pk-border"
      />
      <div class="flex max-w-[60ch] flex-col gap-4">
        <h3 class="font-marker fl-text-step-3">Ms. Wan Hong</h3>
        <div class="flex flex-col gap-2 fl-text-step-0">
          <p class="fl-text-step-1">Principal of PowerKids Sri Petaling</p>
          <p>
            The future of the world is in my classroom today." - Ivan John Fitzwater.
          </p>
          <p>
            I am truly honored to be a teacher— a role that allows me to shape the minds and hearts of tomorrow. To be entrusted with the incredible responsibility of nurturing the future leaders, thinkers, and changemakers of the world.
          </p>
          <p>
            My mission is to empower each student to unlock their full potential, providing not just academic knowledge, but the tools, guidance, and support necessary for their growth in every aspect of life: intellectually, emotionally, socially, and spiritually. I am committed to creating a safe, inclusive, and inspiring environment where. every student can thrive, embrace their uniqueness, and cultivate a lifelong love for learning.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center gap-8 md:flex-row">
      <Image src={mary} alt="Profile picture of Mary" class="pk-border" />
      <div class="flex max-w-[60ch] flex-col gap-4">
        <h3 class="font-marker fl-text-step-3">Ms. Mary</h3>
        <p class="fl-text-step-1">Principal of PowerKids Parklane</p>
        <div class="flex flex-col gap-2 fl-text-step-0">
          <p>
            Ms. Mary Chan is a dedicated educator with 25 years of teaching experience, specializing in nurturing young minds. She holds a Diploma in Early Childhood Education and has completed the KAAK course, equipping her with advanced skills in child development and education.
          </p>
          <p>
            Additionally, she is certified in First Aid, ensuring a safe and secure environment for the children under her care. Ms. Mary is known for her loving and caring nature, fostering a positive and supportive atmosphere.
          </p>
          <p>
            Her exceptional ability to handle children with patience and understanding makes her a cherished and trusted teacher among parents and students alike.
          </p>
        </div>
      </div>
    </div>
  </div>
</Section>

<style>
  img {
    max-height: 30ch;
    max-width: 30ch;
  }
</style>
