---
import pkCloudinary, { type CldImage } from "@/lib/cloudinary";
import { cn } from "@/lib/utils";
import { cardStyle } from "../ui/card";

interface Props {
  prefixRoute: string;
}

const { prefixRoute } = Astro.props;

const photos = await pkCloudinary.api.resources({
  type: "upload",
  prefix: prefixRoute,
});
---

<div class="columns-sm fl-gap-s fl-space-y-l">
  {
    photos.resources.map((image: CldImage) => (
      <img
        src={image.url}
        alt=""
        class={cn(cardStyle(), "col-span-2 fl-mb-s")}
        height={image.height}
        width={image.width}
        loading="lazy"
        decoding="async"
      />
    ))
  }
</div>
