---
import PowerKids from "@/components/brand/PowerKids.astro";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { SCHOOLS_NAMELIST } from "@/pages/about/schools/schools";
import Section from "../Section.astro";
import { LINKS } from "../nav/nav-links";
---

<Section
  class="flex flex-wrap fl-gap-y-xl fl-gap-x-2xl fl-pt-s fl-pb-xl border-t-[0.2em] justify-stretch"
  contentWidth="unset"
  paddingY="unset"
>
  <div class="flex flex-col justify-stretch fl-gap-y-m md:max-w-[25ch]">
    <a
      href="/"
      class:list={cn(
        buttonVariants({ variant: "ghost", size: "unset" }),
        "fl-h-2xl fl-p-4xs fl-gap-s w-max",
      )}
    >
      <img
        src="/images/logo.svg"
        alt="PowerKids Logo"
        class="h-full"
        loading="lazy"
      />
      <h3 class="fl-text-step-2 font-marker fl-mt-xs w-full">
        <PowerKids />
      </h3>
    </a>

    <ul class="fl-text-step--1 justify-stretch fl-gap-x-s flex flex-wrap">
      {SCHOOLS_NAMELIST.map((name) => <li>{name}</li>)}
    </ul>
  </div>

  <div
    class="flex flex-wrap fl-gap-2xl md:fl-mt-l justify-stretch fl-text-step--1"
  >
    {
      Object.entries(LINKS).map(([groupName, group]) => (
        <div class="fl-space-y-s">
          <h3 class="font-bold font-marker fl-text-step-0">{groupName}</h3>
          <ul class="fl-space-y-s">
            {group.map(({ title, href }) => (
              <li>
                <a
                  href={href}
                  class={buttonVariants({
                    variant: "link",
                    font: "unset",
                    size: "unset",
                  })}
                >
                  {title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</Section>
