---
import PowerKids from "@/components/brand/PowerKids.astro";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { LINKS } from "../nav/nav-links";
import Section from "../section.astro";
---

<div class="border-t-[0.2em] fl-text-step-0">
  <Section
    class="flex flex-wrap max-sm:flex-col fl-gap-y-xl fl-gap-x-2xl"
    contentWidth="2xl"
  >
    <a
      href="/"
      class:list={cn(
        buttonVariants({ variant: "ghost", size: "unset" }),
        "fl-h-3xl fl-p-3xs fl-gap-s justify-start",
      )}
    >
      <img
        src="/images/logo.svg"
        alt="PowerKids Logo"
        class="h-full"
        loading="lazy"
      />
      <h3 class="fl-text-step-3 font-marker fl-mt-s">
        <PowerKids />
      </h3>
    </a>

    <div class="flex flex-wrap fl-gap-2xl md:fl-mt-l justify-stretch">
      {
        Object.entries(LINKS).map(([groupName, group]) => (
          <div class="fl-space-y-s">
            <h3 class="font-bold font-marker fl-text-step-1">{groupName}</h3>
            <ul class="fl-space-y-s">
              {group.map(({ title, href }) => (
                <li>
                  <a
                    href={href}
                    class={buttonVariants({
                      variant: "link",
                      font: "unset",
                      size: "unset",
                    })}
                  >
                    {title}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </Section>
</div>
