---
import {
  LucideCalendar,
  LucideClock,
  LucideFacebook,
  LucideInstagram,
  LucideMail,
  LucidePhone,
  LucideYoutube,
} from "lucide-react";
import { Card, CardDescription } from "../../ui/card";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
---

<Card
  className="grid sm:grid-cols-2 fl-p-l fl-gap-y-l fl-gap-x-3xl grid-flow-row-dense [&_svg]:inline-block [&_li_svg]:mr-2 [&_li_svg]:mb-1 [&_li_svg]:fl-h-m"
>
  <div class="col-span-full">
    <h2
      class="fl-text-step-5 font-bold font-marker row-span-3 whitespace-nowrap"
    >
      Contact Us!
    </h2>
    <CardDescription>
      Please come and find out more! We'd love to hear from you!
    </CardDescription>
  </div>

  <ul>
    <li><LucideClock /><span class="my-auto">8:30am - 5:00pm</span></li>
    <li><LucideCalendar />Monday - Friday</li>
  </ul>

  <ul>
    <li>
      <a href="mailto:powerkidschool@gmail.com" class="whitespace-nowrap">
        <LucideMail />powerkidschool@gmail.com
      </a>
    </li>
  </ul>

  <ul class="row-span-2 sm:col-start-2 sm:row-start-2">
    <li>
      <a href="tel:+60390592979">
        <LucidePhone /> 03 - 9059 2979
      </a>
    </li>
    <li>
      <a href="tel:+60102212482">
        <LucidePhone /> 010 - 221 2482
      </a>
    </li>
    <li>
      <a href="tel:+60390564288">
        <LucidePhone /> 03 - 9056 4288
      </a>
    </li>
    <li>
      <a href="tel:+0102212483">
        <LucidePhone /> 010 - 221 2483
      </a>
    </li>
  </ul>
  <div
    class="col-span-full text-center fl-space-x-s [&_svg]:fl-w-l [&_svg]:fl-h-l"
  >
    <a
      href="https://www.facebook.com/PowerKidsChildcare"
      class={cn(
        buttonVariants({ size: "unset", variant: "outline" }),
        "fl-p-xs",
      )}
    >
      <LucideFacebook />
    </a>
    <a
      href="https://www.instagram.com/powerkids_2001/"
      class={cn(
        buttonVariants({ size: "unset", variant: "outline" }),
        "fl-p-xs",
      )}
    >
      <LucideInstagram />
    </a>
    <a
      href="https://www.youtube.com/channel/UCOjK8A2hTRbh1jg3hPE7uCw"
      class={cn(
        buttonVariants({ size: "unset", variant: "outline" }),
        "fl-p-xs",
      )}
    >
      <LucideYoutube />
    </a>
  </div>
</Card>
