---
import Section from "../section.astro";
import BottomNav from "./BottomNav.astro";
import ContactCard from "./ContactCard.astro";
---

<footer class="fl-py-2xl">
  <div id="register"></div>
  <Section>
    <ContactCard />
  </Section>
  <BottomNav />
</footer>
