---
import Section from "../Section.astro";
import BottomNav from "./BottomNav.astro";
import ContactCard from "./ContactCard.astro";
import Register from "./Register.astro";

const today = new Date();
interface Props {
  title?: string;
  excludeRegister?: boolean;
}

const { excludeRegister = false } = Astro.props;
---

<footer>
  {!excludeRegister && <Register />}
  <Section contentWidth="md" id="contact">
    <ContactCard />
  </Section>
  <BottomNav />
  <div
    class="col-span-full flex flex-wrap justify-center px-4 text-center text-primary/30 fl-text-step--1 fl-gap-x-m"
  >
    <span>&copy; {today.getFullYear()} PowerKids Kindergarten</span>
    <span>
      Designed with
      <img src="/images/heart.svg" alt="heart logo" class="inline fl-h-xs" /> by


      <a href="https://chuangcaleb.com" class="underline hover:text-gray-800"
        >Chuang Caleb</a
      >
    </span>
  </div>
</footer>
