---
import Section from "../Section.astro";
import BottomNav from "./BottomNav.astro";
import ContactCard from "./ContactCard.astro";
import Register from "./Register.astro";

const today = new Date();
---

<footer>
  <Section contentWidth="xl">
    <Register />
  </Section>
  <Section contentWidth="lg">
    <ContactCard />
  </Section>
  <BottomNav />
  <div class="col-span-full text-primary/30 sm:text-center fl-text-step--1">
    &copy; {today.getFullYear()} PowerKids Kindergarten. All rights reserved.
  </div>
</footer>
