---
import Section from "@/components/layout/Section.astro";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import {
  LucideCheckCircle,
  LucideCircleDollarSign,
  LucideExternalLink,
  LucidePaperclip,
} from "lucide-react";
---

<Section
  contentWidth="unset"
  paddingY="unset"
  class="text-primary-foreground grid place-items-center overflow-x-clip"
  id="register"
>
  <img
    src="/images/blob.svg"
    alt=""
    class="row-start-1 col-start-1 -z-10 max-sm:scale-125"
  />
  <div
    class="fl-space-y-l text-center max-w-screen-sm mx-auto fl-py-2xl row-start-1 col-start-1"
  >
    <h2 class="font-marker fl-text-step-4">Register Today!</h2>
    <ol
      class="list-decimal fl-text-step-1 text-left mx-auto -fl-ml-m [&_li]:flex [&_svg]:mx-1 [&_li]:items-center [&_li]:gap-x-2 fl-space-y-xs"
    >
      <li>
        <LucideCheckCircle />
        <span>Sign the <u>Registration Form</u></span>
      </li>
      <li>
        <LucidePaperclip />
        <span>Attach <u>photocopy of birth cert.</u></span>
      </li>
      <li>
        <LucideCircleDollarSign />
        <span>Email proof of <u>full payment</u></span>
      </li>
    </ol>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScx6CBPRCpy701cuUepOTB2r7_d0DdaYDuIRtPN5U5OtV7phQ/viewform?usp=sf_link"
      class={cn(buttonVariants({ size: "lg", variant: "outline" }))}
    >
      <LucideExternalLink className="fl-mr-xs" />
       open our form
    </a>
  </div>
</Section>
