---
import Document from "@/components/layout/Document.astro";
import Section from "@/components/layout/Section.astro";
import { Card, cardTabHeaderStyle } from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { YouTube } from "astro-lazy-youtube-embed";
---

<Document title="Graduation">
  <Section class="fl-space-y-s [text-wrap:balance]">
    <h1 class="font-marker fl-text-step-4">Graduation</h1>
    <p>
      Our Graduation is a celebration of our children who completed their
      pre-school learning.
    </p>
    <p>
      Here, we practice Graduation-Concerts, where <em>all</em> our students get
      an opportunity to be involved in stage performance during the graduation
      event. This is our showcase of discipline and training of children over
      the years!
    </p>
  </Section>

  <Section class="grid md:grid-cols-2 fl-gap-m" paddingY="bottom">
    <div>
      <h2 class={cn(cardTabHeaderStyle(), "fl-text-step-2 font-marker")}>
        2020
      </h2>
      <Card className="rounded-tl-none">
        <YouTube videoId="eyyBMt6-zIc" title="PowerKids Graduation 2020" />
      </Card>
    </div>
    <div>
      <h2 class={cn(cardTabHeaderStyle(), "fl-text-step-2 font-marker")}>
        2019
      </h2>
      <Card className="rounded-tl-none">
        <YouTube videoId="7nphFvgTY2M" title="PowerKids Graduation 2019" />
      </Card>
    </div>
  </Section>
</Document>
