---
import Gallery from "@/components/common/Gallery.astro";
import Document from "@/components/layout/Document.astro";
import Section from "@/components/layout/Section.astro";
import { Card } from "@/components/ui/card";
import { YouTube } from "astro-lazy-youtube-embed";
---

<Document title="Sports Day">
  <Section class="grid fl-gap-l [text-wrap:balance] lg:grid-cols-2">
    <div class="fl-space-y-m">
      <div>
        <h1 class="font-marker fl-text-step-4">Sports Day</h1>
        <p class="font-bold tracking-widest fl-text-step-1">
          Dexterity, competition & teamwork
        </p>
      </div>
      <div class="fl-space-y-s">
        <p>
          Championship, sportsmanship, winning, competing, participation — a
          family day-out.
        </p>
        <p>
          Numerous telematch games. Four schools. Three houses. One champion.
        </p>
      </div>
    </div>

    <Card className="max-w-screen-sm">
      <YouTube videoId="vj-9e65wtPE" title="PowerKids Sports Day 2019" />
    </Card>
  </Section>

  <Section contentWidth="lg" paddingY="bottom">
    <Gallery prefixRoute="powerkids/events/sports-day" />
  </Section>
</Document>
